<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add your Product</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
</head>
<body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="#"><b>Shop@</b></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
              
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                      <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/home/add">Add products</a>
                    </li>
                    <li class="nav-item">
                            <a class="nav-link" href="/home/view">View products</a>
                          </li>
                  </ul>
                </div>
              </nav>
    <center><h1><b>Add New Products</b></h1></center>
    <center>
        <form action="/home/add/insert" method="POST" enctype="multipart/form-data">
    <table class="table">
        <tr>
            <td><b>Product Name</b></td>
            <td><input type="text" name="itemname"></td>
        </tr>
        <tr>
            <td><b>Product Type</b></td>
            <td><input type="text" name="itemtype"></td>
        </tr>
        <tr>
            <td><b> Your/seller Name</b></td>
            <td><input type="text" name="itemseller"></td>
        </tr>
        <tr>
            <td>
            <input type="file" name="itempic"></form>
            </td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td><button type="submit">Submit</button></td>
        </tr>
    </table>
</center>

</form>
</body>
</html>


