<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <title>Edit Item</title>
</head>
<body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="#"><b>Shop@</b></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
              
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                      <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/home/add">Add products</a>
                    </li>
                    <li class="nav-item">
                            <a class="nav-link" href="/home/view">View products</a>
                          </li>
                  </ul>
                </div>
              </nav>
    <form action="/home/update/newvalues" method="POST">
    <div class="container-fluid">
        <center><b><h1>Update Item details</h1></b></center>
        <table class="table table-dark">
            <tr>
                <td>Product ID</td>
                <td>
                <input type="text" name="itemid" id=""></td>
            </tr>
            <tr>
                <td>Product Name</td>
                <td><input type="text" name="itemname" id=""></td>
            </tr>
            <tr>
                    <td>Product Type</td>
                <td><input type="text" name="itemtype" id=""></td>
                </tr>
                <tr>
                        <td>Product Seller</td>
                    <td><input type="text" name="itemseller" id=""></td>
                    </tr>
                <tr>
                    <td></td>
                    <td><button type="submit" class="btn btn-light">Submit</button></td>
                </tr>
        </table>
    </div>
</form>
</body>
</html>